<div class="row">
  <!-- ==================================-->
  <!-- =======Simple date picker ===== -->
  <!-- ==================================-->
  <div class="col-12 d-flex align-items-stretch">
    <app-datepicker-simple class="w-100"></app-datepicker-simple>
  </div>
  <!-- ==================================-->
  <!-- =======Disabled picker ===== -->
  <!-- ==================================-->
  <div class="col-12 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Disabled datepicker</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle fw-normal mb-3">
          Bind <code>[disabled]</code> by passing true to disable date picker &
          false to enable date picker.
        </h6>
        <ngb-datepicker
          [(ngModel)]="model3"
          [disabled]="disabled"
        ></ngb-datepicker>

        <div class="mt-3">
          <button
            class="btn btn-light-{{ disabled ? 'danger' : 'success' }} text-{{
              disabled ? 'danger' : 'success'
            }}"
            (click)="disabled = !disabled"
          >
            {{ disabled ? "Disabled" : "Enabled" }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Date with popup===== -->
  <!-- ==================================-->
  <div class="col-12 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Datepicker in a popup</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle fw-normal mb-3">
          This is datepicker with popup
        </h6>
        <form class="form-inline">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp2"
              [(ngModel)]="model"
              ngbDatepicker
              #d3="ngbDatepicker"
            />
            <button
              class="btn btn-outline-secondary no-shadow"
              (click)="d3.toggle()"
              type="button"
            >
              <i-feather class="feather-sm" name="calendar"></i-feather>
            </button>
          </div>
        </form>
        <div class="bg-light rounded-3 p-2 mt-3">
          Model: {{ model | json }}
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Multiple Month ===== -->
  <!-- ==================================-->
  <div class="col-12 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Datepicker Multiple months</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle fw-normal mb-3">
          This is datepicker Multiple months
        </h6>
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [displayMonths]="displayMonths"
                [navigation]="navigation"
                [showWeekNumbers]="showWeekNumbers"
                ngbDatepicker
                #e="ngbDatepicker"
              />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="e.toggle()"
                type="button"
              >
                <i-feather class="feather-sm" name="calendar"></i-feather>
              </button>
            </div>
          </div>
        </form>
        <div class="hstack gap-3 mt-3 flex-column flex-md-row">
          <select class="form-select" [(ngModel)]="displayMonths">
            <option [ngValue]="1">One month</option>
            <option [ngValue]="2">Two months</option>
            <option [ngValue]="3">Three months</option>
          </select>

          <select class="form-select" [(ngModel)]="navigation">
            <option value="none">Without navigation</option>
            <option value="select">With select boxes</option>
            <option value="arrows">Without select boxes</option>
          </select>

          <select class="form-select" [(ngModel)]="showWeekNumbers">
            <option [ngValue]="true">Week numbers</option>
            <option [ngValue]="false">No week numbers</option>
          </select>

          <select class="form-select" [(ngModel)]="outsideDays">
            <option value="visible">Visible outside days</option>
            <option value="hidden">Hidden outside days</option>
            <option value="collapsed">Collapsed outside days</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======Range Picker ===== -->
  <!-- ==================================-->
  <div class="col-12 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Range Datepicker</h4>
      </div>
      <div class="card-body border-top">
        <form class="row">
          <div class="col-md-6 form-group hidden">
            <div class="input-group">
              <input
                name="datepicker"
                class="form-control"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [autoClose]="'outside'"
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                outsideDays="hidden"
                [startDate]="fromDate!"
                tabindex="-1"
              />
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input
                #dpFromDate
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dpFromDate"
                [value]="formatter.format(fromDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
              />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="datepicker.toggle()"
                type="button"
              >
                <i-feather class="feather-sm" name="calendar"></i-feather>
              </button>
            </div>
          </div>
          <div class="col-md-6 mt-3 mt-md-0">
            <div class="input-group">
              <input
                #dpToDate
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dpToDate"
                [value]="formatter.format(toDate)"
                (input)="toDate = validateInput(toDate, dpToDate.value)"
              />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="datepicker.toggle()"
                type="button"
              >
                <i-feather class="feather-sm" name="calendar"></i-feather>
              </button>
            </div>
          </div>
        </form>

        <div class="row mt-3">
          <div class="col-md-6">
            <div class="bg-light p-2 rounded-3">
              From: {{ fromDate | json }}
            </div>
          </div>
          <div class="col-md-6 mt-3 mt-md-0">
            <div class="bg-light p-2 rounded-3">
              To: {{ toDate | json }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======Footer datepicker ===== -->
  <!-- ==================================-->
  <div class="col-12 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Footer template</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle fw-normal mb-3">
          This datepicker uses a footer template which is presented inside
          datepicker. Today and close buttons used as an example.
        </h6>

        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="model"
                ngbDatepicker
                [footerTemplate]="footerTemplate"
                #f="ngbDatepicker"
              />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="f.toggle()"
                type="button"
              >
                <i-feather class="feather-sm" name="calendar"></i-feather>
              </button>
            </div>
          </div>
        </form>

        <ng-template #footerTemplate>
          <hr class="my-0" />
          <div class="d-flex justify-content-between">
            <button
              class="btn btn-light-primary text-primary btn-sm m-2"
              (click)="model = today; f.close()"
            >
              Today
            </button>
            <button
              class="btn btn-light-danger text-danger btn-sm m-2"
              (click)="f.close()"
            >
              Close
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Custom Day View ===== -->
  <!-- ==================================-->
  <div class="col-12 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom day view</h4>
      </div>
      <div class="card-body border-top">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input
                class="form-control"
                name="form"
                placeholder="yyyy-mm-dd"
                [(ngModel)]="model"
                ngbDatepicker
                [dayTemplate]="customDay"
                [markDisabled]="isDisabled"
                #d="ngbDatepicker"
              />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              >
                <i-feather class="feather-sm" name="calendar"></i-feather>
              </button>
            </div>
          </div>
        </form>

        <ng-template
          #customDay
          let-date
          let-currentMonth="currentMonth"
          let-selected="selected"
          let-disabled="disabled"
          let-focused="focused"
        >
          <span
            class="custom-day"
            [class.weekend]="isWeekend(date)"
            [class.focused]="focused"
            [class.bg-primary]="selected"
            [class.hidden]="date.month !== currentMonth"
            [class.text-muted]="disabled"
          >
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
  </div>  
  <!-- ==================================-->
  <!-- ======= Custom date adapter ===== -->
  <!-- ==================================-->
  <div class="col-12  d-flex align-items-stretch">
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom date adapter</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle fw-normal mb-3">
          These datepickers use custom Date adapter that lets you use your own
          model implementation. In this example we are converting from and to a
          JS native Date object
        </h6>
        <div class="row">
          <div class="col-12">
            <ngb-datepicker
              #d1
              [(ngModel)]="model1"
              #c1="ngModel"
              style="z-index: 0"
            ></ngb-datepicker>
            <div class="mt-3">
              <button
                class="btn btn-light-primary text-primary mt-3"
                (click)="model1 = today"
              >
                Select Today
              </button>
            </div>
            <div class="bg-light p-2 rounded-3 mt-3">
              Model: {{ model1 | json }}
            </div>
            <div class="bg-light p-2 rounded-3 mt-2">
              State: {{ c1.status }}
            </div>
          </div>

          <div class="col-12">
            <form class="mt-3">
              <div class="form-group">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="d2"
                    #c2="ngModel"
                    [(ngModel)]="model11"
                    ngbDatepicker
                    #d2="ngbDatepicker"
                  />
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="d2.toggle()"
                    type="button"
                  >
                    <i-feather class="feather-sm" name="calendar"></i-feather>
                  </button>
                </div>
              </div>
            </form>
            <div class="mt-3">
              <button
                class="btn btn-light-primary text-primary"
                (click)="model11 = today"
              >
                Select Today
              </button>
            </div>

            <div class="bg-light p-2 rounded-3 mt-3">
              Model: {{ model11 | json }}
            </div>
            <div class="bg-light p-2 rounded-3 mt-2">
              State: {{ c2.status }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======Custom Month ===== -->
  <!-- ==================================-->
  <div class="col-12  d-flex align-items-stretch">
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom month layout</h4>
      </div>
      <div class="card-body border-top">
        <app-customonth></app-customonth>
      </div>
    </div>
  </div>
  
</div>
