<div class="card w-100">
  <div class="p-3">
    <h4 class="card-title mb-0">Basic Datepicker</h4>
  </div>
  <div class="card-body border-top">
    <h6 class="card-subtitle fw-normal mb-3">
      Use <code>ngbDatepicker</code> along with input element to create basic
      date picker.
    </h6>
    <div class="btn-group mb-2" role="group">
      <button
        class="btn btn-light-primary text-primary border-primary"
        (click)="selectToday()"
      >
        Select Today
      </button>
      <button
        class="btn btn-light-primary text-primary border-primary"
        (click)="dp.navigateTo()"
      >
        To current month
      </button>
      <button
        class="btn btn-light-primary text-primary border-primary"
        (click)="dp.navigateTo({ year: 2013, month: 2 })"
      >
        To Feb 2013
      </button>
    </div>
    <div>
      <ngb-datepicker
        #dp
        [(ngModel)]="model"
        (navigate)="date = $event.next"
      ></ngb-datepicker>
    </div>

    <div class="bg-light rounded-3 my-2 p-3">
      <span>Month : {{ date.day }}.{{ date.month }}.{{ date.year }}</span
      ><br />
      <span>Model : {{ model | json }}</span>
    </div>
  </div>
</div>
