<div class="row">
  <!-- ==================================-->
  <!-- =======Dropdown ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Dropdown</h4>
      </div>
      <div class="card-body border-top">
        <div class="button-group">
          <div class="d-inline-block" ngbDropdown>
            <button
              class="
                btn btn-primary
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown1"
              ngbDropdownToggle
            >
              Primary
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-down"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown1">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button
              class="
                btn btn-danger
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown2"
              ngbDropdownToggle
            >
              Danger
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-down"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown2">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>

          <div class="d-inline-block" ngbDropdown>
            <button
              class="
                btn btn-info
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown3"
              ngbDropdownToggle
            >
              Info
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-down"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown3">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button
              class="
                btn btn-warning
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown4"
              ngbDropdownToggle
            >
              Warning
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-down"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown4">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button
              class="
                btn btn-success
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown5"
              ngbDropdownToggle
            >
              Success
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-down"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown5">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button
              class="
                btn btn-secondary
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown6"
              ngbDropdownToggle
            >
              Secondary
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-down"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown6">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <!-- <div class="col text-end">
            <div ngbDropdown placement="top-end">
              <button
                class="btn btn-outline-primary"
                id="dropdownBasic2"
                ngbDropdownToggle
              >
                Toggle dropup
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button class="dropdown-item">Option 1</button>
                <button class="dropdown-item">Option 2</button>
                <button class="dropdown-item">Option 3</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======Dropup ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Dropup</h4>
      </div>
      <div class="card-body border-top">
        <div class="button-group">
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button
              class="
                btn btn-primary
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown1"
              ngbDropdownToggle
            >
              Primary
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-up"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown1">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button
              class="
                btn btn-danger
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown2"
              ngbDropdownToggle
            >
              Danger
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-up"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown2">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>

          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button
              class="
                btn btn-info
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown3"
              ngbDropdownToggle
            >
              Info
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-up"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown3">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button
              class="
                btn btn-warning
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown4"
              ngbDropdownToggle
            >
              Warning
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-up"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown4">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button
              class="
                btn btn-success
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown5"
              ngbDropdownToggle
            >
              Success
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-up"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown5">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button
              class="
                btn btn-secondary
                dropdown-toggle-icon-none
                d-flex
                align-items-center
              "
              id="dropdown6"
              ngbDropdownToggle
            >
              Secondary
              <i-feather
                class="feather-sm d-flex ms-2"
                name="chevron-up"
              ></i-feather>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown6">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <!-- ==================================-->
    <!-- ======= Split  Dropdown ===== -->
    <!-- ==================================-->
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Split Dropdowns</h4>
      </div>
      <div class="card-body border-top">
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-primary">Primary</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-primary
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-danger">Danger</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-danger
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-info">Info</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-info
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-warning">Warning</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-warning
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-success">Success</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-success
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="btn-group me-2">
          <button type="button" class="btn btn-secondary">Secondary</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-secondary
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <!-- ==================================-->
    <!-- ======= Split Outline Button Dropdown ===== -->
    <!-- ==================================-->
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Split Outline Button Dropdowns</h4>
      </div>
      <div class="card-body border-top">
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-outline-primary">Primary</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-outline-primary
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-outline-danger">Danger</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-outline-danger
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-outline-info">Info</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-outline-info
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-outline-warning">Warning</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-outline-warning
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="btn-group me-2 mb-2 mb-md-0">
          <button type="button" class="btn btn-outline-success">Success</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-outline-success
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="btn-group me-2">
          <button type="button" class="btn btn-outline-secondary">Secondary</button>
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="
                btn btn-outline-secondary
                dropdown-toggle-split dropdown-toggle-icon-none
              "
              ngbDropdownToggle
            >
              <i-feather
                class="feather-sm d-flex"
                name="chevron-down"
              ></i-feather>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======Manual Trigger ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Manual triggers</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle fw-normal mb-3">
          You can easily control dropdowns programmatically using the exported
          dropdown instance.
        </h6>
        <div ngbDropdown #myDrop="ngbDropdown">
          <button
            class="btn btn-outline-primary me-1"
            id="dropdownManual"
            ngbDropdownToggle
          >
            Toggle dropdown
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
          <button
            class="btn btn-outline-success me-1 btn-sm"
            (click)="$event.stopPropagation(); myDrop.open()"
          >
            Open from outside
          </button>
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="$event.stopPropagation(); myDrop.close()"
          >
            Close from outside
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======Collepse ===== -->
  <!-- ==================================-->
  <div class="col-md-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Collapse</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle fw-normal mb-3">
          The NgbCollapse directive provides a simple way to hide and show an
          element with animations.
        </h6>
        <p>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample"
          >
            Toggle
          </button>
        </p>
        <blockquote id="collapseExample" [ngbCollapse]="isCollapsed">
          You can collapse this card by clicking Toggle
        </blockquote>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======Collepse ===== -->
  <!-- ==================================-->
  <div class="col-md-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Dynamic positioning in a navbar
          <span class="badge bg-success text-white">New</span></h4>
      </div>
      <div class="card-body border-top"> 
        <nav class="navbar navbar-expand-md navbar-light bg-light px-3">
          <span class="navbar-brand">Dropdowns in navbar</span>
          <button
            class="navbar-toggler"
            type="button"
            aria-controls="navbarContent"
            [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation"
            (click)="collapsed = !collapsed"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="navbar-collapse"
            [class.collapse]="collapsed"
            id="navbarContent"
          >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" ngbDropdown placement="bottom-end">
                <a
                  class="nav-link"
                  tabindex="0"
                  ngbDropdownToggle
                  id="navbarDropdown1"
                  role="button"
                >
                  Static
                </a>
                <div
                  ngbDropdownMenu
                  aria-labelledby="navbarDropdown1"
                  class="dropdown-menu"
                >
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                    >Action</a
                  >
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                    >Another action</a
                  >
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                    >Something else here</a
                  >
                </div>
              </li>

              <li
                class="nav-item dropdown"
                ngbDropdown
                display="dynamic"
                placement="bottom-end"
              >
                <a
                  class="nav-link"
                  ngbDropdownToggle
                  id="navbarDropdown2"
                  role="button"
                  ngbDropdownToggle
                  class="nav-link dropdown-toggle waves-effect waves-dark"
                  href="javascript:void(0)"
                  id="2"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Static righty
                </a>
                <div
                  ngbDropdownMenu
                  aria-labelledby="navbarDropdown2"
                  class="dropdown-menu dropdown-menu-right"
                >
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                    >Action</a
                  >
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                    >Another action</a
                  >
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                    >Something else here</a
                  >
                </div>
              </li>

              <li
                class="nav-item"
                ngbDropdown
                display="dynamic"
                placement="bottom-end"
              >
                <a
                  class="nav-link"
                  ngbDropdownToggle
                  id="navbarDropdown3"
                  role="button"
                >
                  Dynamic
                </a>
                <div
                  ngbDropdownMenu
                  aria-labelledby="navbarDropdown3"
                  class="dropdown-menu"
                >
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                    >Action</a
                  >
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                    >Another action</a
                  >
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                    >Something else here</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======Collepse ===== -->
  <!-- ==================================-->
  <div class="col-md-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0"> Mixed menu items and form
          <span class="badge bg-success text-white">New</span></h4>
      </div>
      <div class="card-body border-top">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownForm1"
            ngbDropdownToggle
          >
            Toggle dropdown
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownForm1">
            <form class="px-4 py-3">
              <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleDropdownFormEmail1"
                  placeholder="email@example.com"
                />
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleDropdownFormPassword1"
                  placeholder="Password"
                />
              </div>
              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="dropdownCheck"
                />
                <label class="form-check-label" for="dropdownCheck">
                  Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>New around here? Sign up</button>
            <button ngbDropdownItem>Forgot password?</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
