<div class="row">
  <!-- ==================================-->
  <!-- ======= Basic demo ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Basic demo</h4>
      </div>
      <div class="card-body border-top">        
        <h6 class="card-subtitle mb-3">
          This is basic demo for rating {{ currentRate }}
        </h6>
        <ngb-rating [(rate)]="currentRate" class="fs-7"></ngb-rating>

        <div class="mt-2">
          Rate: <b>{{ currentRate }}</b>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======  Custom star template ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom star template</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle mb-3">
          Custom rating template provided as child element
        </h6>
        <ngb-rating [(rate)]="currentRate" class="fs-7">
          <ng-template let-fill="fill" let-index="index">
            <span
              class="star"
              [class.filled]="fill === 100"
              [class.bad]="index < 3"
              >&#9733;</span
            >
          </ng-template>
        </ngb-rating>

        <div class="mt-2">
          Rate: <b>{{ currentRate }}</b>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======  Events and readonly ratings ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Events and readonly ratings</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle mb-3">This is demo for readonly ratings</h6>
        <ngb-rating class="fs-7"
          [(rate)]="selected"
          (hover)="hovered = $event"
          (leave)="hovered = 0"
          [readonly]="readonly"
        ></ngb-rating>
        <div class="mt-2">
          Selected: <b>{{ selected }}</b
          ><br />Hovered: <b>{{ hovered }}</b>
        </div>
        <button
          class="btn mt-2 btn-light-{{
            readonly ? 'danger' : 'success'
          }} text-{{readonly ? 'danger' : 'success'}} border-{{readonly ? 'danger' : 'success'}}"
          (click)="readonly = !readonly"
        >
          {{ readonly ? "readonly" : "editable" }}
        </button>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======  Custom decimal rating ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom decimal rating</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle mb-3">
          Custom rating template provided via a variable. Shows fine-grained
          rating display
        </h6>
        <ng-template #t let-fill="fill">
          <span *ngIf="fill === 100" class="heart full">&hearts;</span>
          <span *ngIf="fill === 0" class="heart">&hearts;</span>
          <span *ngIf="fill < 100 && fill > 0" class="heart">
            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
          </span>
        </ng-template>

        <ngb-rating
          [(rate)]="currentRate2"
          [starTemplate]="t"
          [readonly]="true"
          max="5" class="fs-7"
        ></ngb-rating>
        <div>
          Rate: <b>{{ currentRate2 }}</b>
        </div>
        <div class="button-group">
          <button
            class="btn btn-light-primary border-primary text-primary"
            (click)="currentRate2 = 1.5"
          >
            1.50
          </button>
          <button
            class="btn btn-light-primary border-primary text-primary"
            (click)="currentRate2 = 4.72"
          >
            4.72
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======  Form integration ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Form integration</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle mb-3">
          NgModel and reactive forms can be used without the 'rate' binding
        </h6>
        <div
          class="form-group"
          [class.has-success]="ctrl.valid"
          [class.has-danger]="ctrl.invalid"
        >
          <ngb-rating class="fs-7" [formControl]="ctrl"></ngb-rating>
          <div class="form-control-feedback">
            <div *ngIf="ctrl.valid">Thanks!</div>
            <div *ngIf="ctrl.errors">Please rate us</div>
          </div>
        </div>

        <hr />
        <pre>Model: <b>{{ ctrl.value }}</b></pre>
        <div class="button-group">
          <button
            class="btn btn-light-{{
              ctrl.disabled ? 'danger' : 'success'
            }} text-{{ctrl.disabled ? 'danger' : 'success'}} border-{{ctrl.disabled ? 'danger' : 'success'}}"
            (click)="toggle()"
          >
            {{ ctrl.disabled ? "control disabled" : " control enabled" }}
          </button>
          <button
            class="btn btn-light-primary border-primary text-primary"
            (click)="ctrl.setValue(null)"
          >
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
