<div class="row">
  <!-- ==================================-->
  <!-- ======= Timepicker ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Timepicker</h4>
      </div>
      <div class="card-body border-top">
        <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
        <pre class="p-2 rounded-3 bg-light">
Selected time: {{ time | json }}</pre
        >
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Spinner ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Spinners</h4>
      </div>
      <div class="card-body border-top">
        <ngb-timepicker
          [(ngModel)]="time"
          [spinners]="spinners"
        ></ngb-timepicker>
        <button
          class="m-t-1 mt-2 btn btn-light-{{
            spinners ? 'success' : 'danger'
          }} text-{{ spinners ? 'success' : 'danger' }} border-{{
            spinners ? 'success' : 'danger'
          }}"
          (click)="toggleSpinners()"
        >
          Spinners - {{ spinners ? "ON" : "OFF" }}
        </button>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Meridian ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Meridian</h4>
      </div>
      <div class="card-body border-top">
        <ngb-timepicker
          [(ngModel)]="time"
          [meridian]="meridian"
        ></ngb-timepicker>
        <button
          class="btn btn-light-{{ meridian ? 'success' : 'danger' }} text-{{
            meridian ? 'success' : 'danger'
          }} border-{{ meridian ? 'success' : 'danger' }}"
          (click)="toggleMeridian()"
        >
          Meridian - {{ meridian ? "ON" : "OFF" }}
        </button>
        <pre class="p-2 rounded-3 bg-light mt-3">
Selected time: {{ time | json }}</pre
        >
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Seconds ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Seconds</h4>
      </div>
      <div class="card-body border-top">
        <ngb-timepicker [(ngModel)]="time" [seconds]="seconds"></ngb-timepicker>
        <button
          class="btn btn-light-{{ seconds ? 'success' : 'danger' }} text-{{
            seconds ? 'success' : 'danger'
          }} border-{{ seconds ? 'success' : 'danger' }}"
          (click)="toggleSeconds()"
        >
          Seconds - {{ seconds ? "ON" : "OFF" }}
        </button>
        <pre class="p-2 rounded-3 bg-light mt-3">
Selected time: {{ time | json }}</pre
        >
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Custom Steps ===== -->
  <!-- ==================================-->
  <div class="col-md-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom Steps</h4>
      </div>
      <div class="card-body border-top">
        <ngb-timepicker
          [(ngModel)]="time2"
          [seconds]="true"
          [hourStep]="hourStep"
          [minuteStep]="minuteStep"
          [secondStep]="secondStep"
        ></ngb-timepicker>

        <div class="row">
          <div class="col-md-3">
            <label for="changeHourStep">Hour Step</label>
            <input
              id="changeHourStep"
              type="number"
              class="form-control form-control"
              [(ngModel)]="hourStep"
            />
          </div>
          <div class="col-md-3">
            <label for="changeMinuteStep">Minute Step</label>
            <input
              id="changeMinuteStep"
              type="number"
              class="form-control form-control"
              [(ngModel)]="minuteStep"
            />
          </div>
          <div class="col-md-3">
            <label for="changeSecondStep">Second Step</label>
            <input
              id="changeSecondStep"
              type="number"
              class="form-control form-control"
              [(ngModel)]="secondStep"
            />
          </div>
        </div>

        <pre class="p-2 rounded-3 bg-light mt-3">
Selected time: {{ time2 | json }}</pre
        >
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Custom validation ===== -->
  <!-- ==================================-->
  <div class="col-md-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom Validation</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle mb-3">
          Illustrates custom validation, you have to select time between 12:00
          and 13:59
        </h6>
        <ngb-timepicker [formControl]="ctrl" required></ngb-timepicker>
        <div *ngIf="ctrl.valid" class="small form-text text-success">
          Great choice
        </div>
        <div *ngIf="ctrl.errors" class="small form-text text-danger ">
          <div *ngIf="ctrl.errors['required']">
            Select some time during lunchtime
          </div>
          <div *ngIf="ctrl.errors['tooLate']">Oh no, it's way too late</div>
          <div *ngIf="ctrl.errors['tooEarly']">It's a bit too early</div>
        </div>
        <pre class="p-2 rounded-3 bg-light mt-3">
Selected time: {{ time3 | json }}</pre
        >
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Custom time picker ===== -->
  <!-- ==================================-->
  <div class="col-md-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom Timepicker</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle mb-3">
          This timepicker uses a custom Time adapter that lets you use your own
          model implementation. In this example we are converting from and to an
          ISO string (with the format HH:mm:ss)
        </h6>
        <ngb-timepicker [(ngModel)]="time1"></ngb-timepicker>
        <pre class="p-2 rounded-3 bg-light">Selected time: {{ time1 }}</pre>
      </div>
    </div>
  </div>
</div>
